/* Escopo exclusivo para a página edit_product */
.edit-product-page .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.edit-product-page .card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.edit-product-page .card-header {
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    background-color: #007bff; /* Cor de fundo para o título */
    color: white; /* Cor do texto */
}

.edit-product-page .form-group label {
    font-weight: bold;
}

.edit-product-page .form-control,
.edit-product-page .btn {
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.edit-product-page .form-control {
    height: 45px;
}

.edit-product-page .form-control:hover,
.edit-product-page .btn:hover,
.edit-product-page .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.edit-product-page .btn {
    padding: 10px 15px;
}
